html,
body {
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchResultDiv {
  flex: 1;
  display: flex;
  margin: 1rem;
}
.resultsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 90vw;
}

header,
footer {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 4px;
  letter-spacing: 2px;
  padding-left: 1rem;
}

#socialIcons {
  justify-items: center;
  width: 10vw;
  display: flex;
  justify-content: space-between;
}

svg {
  margin: 0 1rem 0 1rem;
}

#navigation {
  width: 50vw;
  text-align: right;
}

#navbar li,
#socialIcons li {
  display: inline;
  list-style-type: none;
  margin-right: 0.5rem;
  text-decoration: none;
}

#navbar {
  margin-right: 10%;
  margin-left: auto;
}

table {
  margin-right: 10px;
  margin-left: auto;
}

form {
  margin: 0 1rem 0 1rem;
}

.loginPage {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
}

#cartPane {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 20vw;
  height: 40vh;
  background-color: green;
  display: none;
  z-index: 9000;
}

input {
  margin: 0.2rem;
}

header,
footer,
main {
  margin-top: 6px;
  margin-bottom: 6px;
  box-shadow: 0px 2px 5px 0px gainsboro;
}

.hiddenInput {
  display: none;
}

.cartSuccess {
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  margin-right: 0.4rem;
  margin-top: 0.3rem;
}
.myButton:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
.myButton:active {
  position: relative;
  top: 1px;
}
